In [2]:
import pandas as pd
import numpy as np

In [3]:
df_olist_closed_list = pd.read_csv('Datasets/olist_closed_deals_dataset.csv')
df_customers_datasets = pd.read_csv('Datasets/olist_customers_dataset.csv')
df_olist_geolocation_dataset = pd.read_csv('Datasets/olist_geolocation_dataset.csv')
df_olist_marketing_qualified_leads_dataset = pd.read_csv('Datasets/olist_marketing_qualified_leads_dataset.csv')
df_olist_order_items_dataset = pd.read_csv('Datasets/olist_order_items_dataset.csv')
df_olist_order_payments_dataset = pd.read_csv('Datasets/olist_order_payments_dataset.csv')
df_olist_order_reviews_dataset = pd.read_csv('Datasets/olist_order_reviews_dataset.csv')
df_olist_orders_dataset = pd.read_csv('Datasets/olist_orders_dataset.csv')
df_olist_products_dataset = pd.read_csv('Datasets/olist_products_dataset.csv')
df_olist_sellers_dataset = pd.read_csv('Datasets/olist_sellers_dataset.csv')
df_product_category_name_translationt = pd.read_csv('Datasets/product_category_name_translation.csv')

7

In [73]:
df_olist_order_reviews_dataset.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [74]:
df_olist_order_reviews_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [77]:
df_olist_order_reviews_dataset['review_id'].value_counts(ascending=False)

7b606b0d57b078384f0b58eac1d41d78    3
dbdf1ea31790c8ecfcc6750525661a9b    3
32415bbf6e341d5d517080a796f79b5c    3
0c76e7a547a531e7bf9f0b99cba071c1    3
4219a80ab469e3fc9901437b73da3f75    3
                                   ..
95e01591b0e69a2fab382b0c562d4e20    1
93611e0327d6a1769d1e68cf3caa242d    1
983c47de74278257f99c4b918fd380f1    1
ca475b77fcc618551ef9d516c3f61b88    1
efe49f1d6f951dd88b51e6ccd4cc548f    1
Name: review_id, Length: 98410, dtype: int64

In [78]:
df_olist_order_reviews_dataset['order_id'].value_counts(ascending=False)

c88b1d1b157a9999ce368f218a407141    3
8e17072ec97ce29f0e1f111e598b0c85    3
df56136b8031ecd28e200bb18e6ddb2e    3
03c939fd7fd3b38f8485a0f95798f1f6    3
5cb890a68b91b6158d69257e4e2bc359    2
                                   ..
5b4e9a12d219f34f5c2de9f8d620b19d    1
a6da096d974acc000962856d7386448a    1
75e0647c26de647eca3421e9cc66c9da    1
bad0467c52f23cdc71e9fa139d4a8afd    1
90531360ecb1eec2a1fbb265a0db0508    1
Name: order_id, Length: 98673, dtype: int64

In [79]:
df_olist_order_reviews_dataset['review_score'].value_counts(ascending=False)

5    57328
4    19142
1    11424
3     8179
2     3151
Name: review_score, dtype: int64

In [76]:
df_olist_order_reviews_dataset['review_comment_title'].value_counts(ascending=False)

Recomendo                    423
recomendo                    345
Bom                          293
super recomendo              270
Excelente                    248
                            ...
Luminaria sobrepor led 18      1
Não recebi.                    1
produto com lacre violado      1
Atraso Entrega                 1
Foto enganosa                  1
Name: review_comment_title, Length: 4527, dtype: int64

In [80]:
df_olist_order_reviews_dataset['review_comment_message'].value_counts(ascending=False)

Muito bom                                                                                                                                                                                              230
Bom                                                                                                                                                                                                    189
muito bom                                                                                                                                                                                              122
bom                                                                                                                                                                                                    107
Recomendo                                                                                                                                                                                              100
                                                                                                                                                                                                      ...
PRODUTO FOI ENTREGUE VIA CORREIOS\r\nANTES DO PRAZO PREVISTO.                                                                                                                                            1
Devido incompatibilidade vou devolver, ótimo produto!                                                                                                                                                    1
Infelizmente não! A qualidade do produto não agradou.Impressão da foto em exposição remete a um tamanho maior e a recebida sequer atende a uma criança. PRODUTO NÃO JUSTIFICA O VALOR INFELIZMENTE!      1
entrega na data prevista,somente a qualidade do material não é o mesmo que eu pensava mas pelo preço ta valido                                                                                           1
meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga                                                                                                                    1
Name: review_comment_message, Length: 36159, dtype: int64

In [81]:
df_olist_order_reviews_dataset['review_creation_date'].value_counts(ascending=False)

2017-12-19 00:00:00    463
2018-08-28 00:00:00    452
2017-12-20 00:00:00    440
2018-05-19 00:00:00    434
2018-05-15 00:00:00    425
                      ...
2016-10-23 00:00:00      1
2017-03-27 00:00:00      1
2016-10-06 00:00:00      1
2018-07-23 00:00:00      1
2017-01-04 00:00:00      1
Name: review_creation_date, Length: 636, dtype: int64

In [82]:
df_olist_order_reviews_dataset['review_answer_timestamp'].value_counts(ascending=False)

2017-06-15 23:21:05    4
2018-02-26 15:53:18    3
2018-04-07 21:13:05    3
2017-02-21 23:30:22    3
2017-08-12 14:35:35    3
                      ..
2018-08-20 12:43:33    1
2018-01-16 20:42:07    1
2018-05-13 13:19:11    1
2018-03-19 12:59:37    1
2017-07-03 21:01:49    1
Name: review_answer_timestamp, Length: 98248, dtype: int64

8

In [63]:
df_olist_orders_dataset.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [64]:
df_olist_orders_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [65]:
df_olist_orders_dataset['order_id'].value_counts(ascending=False)

e481f51cbdc54678b7cc49136f2d6af7    1
f01059d0d674e1282df4e8fbbe015aa2    1
fbc17f0f2a2125054d5ac5c22d2d5120    1
9373150545066777b1cd2bc20e93cf8e    1
917399e96f92268dfa2c0351b1b75fba    1
                                   ..
6b8986012d61963295ffa3ea869aff86    1
be879f757debd3b384b540daa6ddd97e    1
ac3ce7eda1246f39509a505242fcc169    1
e801a93b3904ca9e8350f176a037047b    1
66dea50a8b16d9b4dee7af250b4be1a5    1
Name: order_id, Length: 99441, dtype: int64

In [66]:
df_olist_orders_dataset['customer_id'].value_counts(ascending=False)

9ef432eb6251297304e76186b10a928d    1
413f7e58270a32396af030a075b924be    1
eb4350b67a0264c67e5e06a038e4afbb    1
622b07d262d545d16efbd4363a89cb91    1
c701fbfa77791abd05eef9eacf7ea7a8    1
                                   ..
39585f08d13377e50fde35467984e6eb    1
eb3d995301c320683de629f5b4dd0c78    1
f2507ea56d748a23037bb1214964e87d    1
ae8269d850cd3a3d06a56877c450b3f8    1
edb027a75a1449115f6b43211ae02a24    1
Name: customer_id, Length: 99441, dtype: int64

In [67]:
df_olist_orders_dataset['order_status'].value_counts(ascending=False)

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [68]:
df_olist_orders_dataset['order_purchase_timestamp'].value_counts(ascending=False)

2018-04-11 10:48:14    3
2018-07-28 13:11:22    3
2017-11-20 10:59:08    3
2018-08-02 12:05:26    3
2018-08-02 12:06:09    3
                      ..
2018-07-14 19:23:47    1
2018-05-10 16:08:05    1
2017-11-28 10:46:46    1
2018-03-17 23:46:08    1
2018-03-08 20:57:30    1
Name: order_purchase_timestamp, Length: 98875, dtype: int64

In [69]:
df_olist_orders_dataset['order_approved_at'].value_counts(ascending=False)

2018-02-27 04:31:10    9
2017-11-07 07:30:38    7
2018-02-27 04:31:01    7
2018-02-06 05:31:52    7
2017-11-07 07:30:29    7
                      ..
2018-08-22 11:50:14    1
2017-09-22 11:27:36    1
2018-03-07 16:40:32    1
2017-08-08 10:50:15    1
2018-03-09 11:20:28    1
Name: order_approved_at, Length: 90733, dtype: int64

In [70]:
df_olist_orders_dataset['order_delivered_carrier_date'].value_counts(ascending=False)

2018-05-09 15:48:00    47
2018-05-10 18:29:00    32
2018-05-07 12:31:00    21
2018-05-02 15:15:00    16
2018-07-24 16:07:00    16
                       ..
2018-01-03 17:37:21     1
2017-10-27 20:07:58     1
2017-11-21 18:57:37     1
2018-03-21 20:03:37     1
2018-03-09 22:11:59     1
Name: order_delivered_carrier_date, Length: 81018, dtype: int64

In [71]:
df_olist_orders_dataset['order_delivered_customer_date'].value_counts(ascending=False)

2018-05-08 23:38:46    3
2016-10-27 17:32:07    3
2018-02-14 21:09:19    3
2017-06-19 18:47:51    3
2018-05-08 19:36:48    3
                      ..
2018-07-12 17:48:45    1
2018-05-18 18:24:36    1
2018-01-17 13:29:13    1
2018-06-29 11:21:34    1
2018-03-16 13:08:30    1
Name: order_delivered_customer_date, Length: 95664, dtype: int64

In [72]:
df_olist_orders_dataset['order_estimated_delivery_date'].value_counts(ascending=False)

2017-12-20 00:00:00    522
2018-03-12 00:00:00    516
2018-05-29 00:00:00    513
2018-03-13 00:00:00    513
2018-02-14 00:00:00    507
                      ...
2016-11-14 00:00:00      1
2016-11-07 00:00:00      1
2016-09-30 00:00:00      1
2016-10-28 00:00:00      1
2016-10-27 00:00:00      1
Name: order_estimated_delivery_date, Length: 459, dtype: int64

9

In [47]:
df_olist_products_dataset.isnull().sum()

product_id                      0
product_category_name         610
product_name_lenght           610
product_description_lenght    610
product_photos_qty            610
product_weight_g                2
product_length_cm               2
product_height_cm               2
product_width_cm                2
dtype: int64

In [50]:
df_olist_products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [54]:
df_olist_products_dataset['product_id'].value_counts(ascending=False)

1e9e8ef04dbcff4541ed26657ea517e5    1
d05cc9afc85771f597cf4bc9d8f12546    1
71b7afd92c42feab780d5ea512fc7348    1
5c5f3e091101bea69642eb3dd145b17d    1
16d47089f9bc7f16de16cc4bd3b9dd49    1
                                   ..
c154987c6780d1a2b579aae00e53485f    1
1a6c9da4039deae58c2b769f049ae121    1
4cb35e544a1de008f37e069f172f964e    1
b34b2c889f5b26963569cf421254e121    1
106392145fca363410d287a815be6de4    1
Name: product_id, Length: 32951, dtype: int64

In [55]:
df_olist_products_dataset['product_category_name'].value_counts(ascending=False)

cama_mesa_banho                  3029
esporte_lazer                    2867
moveis_decoracao                 2657
beleza_saude                     2444
utilidades_domesticas            2335
                                 ...
fashion_roupa_infanto_juvenil       5
casa_conforto_2                     5
pc_gamer                            3
seguros_e_servicos                  2
cds_dvds_musicais                   1
Name: product_category_name, Length: 73, dtype: int64

In [56]:
df_olist_products_dataset['product_name_lenght'].value_counts(ascending=False)

60.0    2182
59.0    2025
58.0    1887
57.0    1719
55.0    1683
        ...
66.0       1
72.0       1
67.0       1
76.0       1
6.0        1
Name: product_name_lenght, Length: 66, dtype: int64

In [57]:
df_olist_products_dataset['product_description_lenght'].value_counts(ascending=False)

404.0     94
729.0     86
651.0     66
703.0     66
236.0     65
          ..
2795.0     1
2308.0     1
3698.0     1
3522.0     1
2207.0     1
Name: product_description_lenght, Length: 2960, dtype: int64

In [58]:
df_olist_products_dataset['product_photos_qty'].value_counts(ascending=False)

1.0     16489
2.0      6263
3.0      3860
4.0      2428
5.0      1484
6.0       968
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
20.0        1
19.0        1
Name: product_photos_qty, dtype: int64

In [59]:
df_olist_products_dataset['product_weight_g'].value_counts(ascending=False)

200.0     2084
300.0     1561
150.0     1259
400.0     1206
100.0     1188
          ...
6075.0       1
822.0        1
631.0        1
2925.0       1
1920.0       1
Name: product_weight_g, Length: 2204, dtype: int64

In [60]:
df_olist_products_dataset['product_length_cm'].value_counts(ascending=False)

16.0    5520
20.0    2816
30.0    2029
18.0    1502
25.0    1387
        ...
96.0       4
10.0       3
8.0        2
9.0        2
7.0        1
Name: product_length_cm, Length: 99, dtype: int64

In [61]:
df_olist_products_dataset['product_height_cm'].value_counts(ascending=False)

10.0    2548
15.0    2022
20.0    1991
16.0    1595
11.0    1551
        ...
98.0       2
97.0       2
99.0       1
89.0       1
94.0       1
Name: product_height_cm, Length: 102, dtype: int64

In [62]:
df_olist_products_dataset['product_width_cm'].value_counts(ascending=False)

11.0     3718
20.0     3053
16.0     2808
15.0     2393
30.0     1786
         ...
103.0       1
86.0        1
98.0        1
87.0        1
104.0       1
Name: product_width_cm, Length: 95, dtype: int64

10

In [39]:
df_olist_sellers_dataset.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [40]:
df_olist_sellers_dataset.dtypes

seller_id                 object
seller_zip_code_prefix     int64
seller_city               object
seller_state              object
dtype: object

In [41]:
df_olist_sellers_dataset.count()

seller_id                 3095
seller_zip_code_prefix    3095
seller_city               3095
seller_state              3095
dtype: int64

In [42]:
df_olist_sellers_dataset['seller_id'].value_counts(ascending=True)

3442f8959a84dea7ee197c632cb2df15    1
f7ccf836d21b2fb1de37564105216cc1    1
7e3f87d16fb353f408d467e74fbd8014    1
9140bd1d9de28b197dce077bdd687438    1
a2b911e9ad40dc7d61c142a4683e2d85    1
                                   ..
f918546be4bec7104d117789ba758b2b    1
eb4a59a06b3948e851a7d7a830bcbc42    1
80146bc52c4f6af5239b23de2a20262b    1
271c58a1d139c45eaf3316107c6d3a3b    1
9e25199f6ef7e7c347120ff175652c3b    1
Name: seller_id, Length: 3095, dtype: int64

In [43]:
df_olist_sellers_dataset['seller_zip_code_prefix'].value_counts(ascending=False)

14940    49
13660    10
13920     9
16200     9
87050     8
         ..
83707     1
85065     1
78552     1
3632      1
12051     1
Name: seller_zip_code_prefix, Length: 2246, dtype: int64

In [44]:
df_olist_sellers_dataset['seller_city'].value_counts(ascending=False)

sao paulo              694
curitiba               127
rio de janeiro          96
belo horizonte          68
ribeirao preto          52
                      ...
taruma                   1
s jose do rio preto      1
domingos martins         1
messias targino          1
leme                     1
Name: seller_city, Length: 611, dtype: int64

In [45]:
df_olist_sellers_dataset['seller_state'].value_counts(ascending=False)

SP    1849
PR     349
MG     244
SC     190
RJ     171
RS     129
GO      40
DF      30
ES      23
BA      19
CE      13
PE       9
PB       6
RN       5
MS       5
MT       4
RO       2
SE       2
PI       1
AC       1
MA       1
AM       1
PA       1
Name: seller_state, dtype: int64

11

In [11]:
df_product_category_name_translationt.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

In [25]:
df_product_category_name_translationt.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [26]:
df_product_category_name_translationt.count()

product_category_name            71
product_category_name_english    71
dtype: int64

In [20]:
df_product_category_name_translationt.dtypes

product_category_name            object
product_category_name_english    object
dtype: object

In [9]:
df_product_category_name_translationt['product_category_name'].value_counts(ascending=True)

beleza_saude                         1
fashion_underwear_e_moda_praia       1
construcao_ferramentas_seguranca     1
livros_interesse_geral               1
moveis_quarto                        1
                                    ..
fashion_calcados                     1
audio                                1
consoles_games                       1
construcao_ferramentas_construcao    1
seguros_e_servicos                   1
Name: product_category_name, Length: 71, dtype: int64

In [21]:
df_product_category_name_translationt['product_category_name_english'].count()

71

In [22]:
df_product_category_name_translationt['product_category_name'].value_counts(ascending=True)

beleza_saude                         1
fashion_underwear_e_moda_praia       1
construcao_ferramentas_seguranca     1
livros_interesse_geral               1
moveis_quarto                        1
                                    ..
fashion_calcados                     1
audio                                1
consoles_games                       1
construcao_ferramentas_construcao    1
seguros_e_servicos                   1
Name: product_category_name, Length: 71, dtype: int64